# Environment
.env
venv/

# Django
*.pyc
__pycache__/
db.sqlite3
media/

# OS
.DS_Store

# Personal Files
docs/
*.odt*
*.ipynb

# Migrations
migrations/

node_modules/
rag/models
rag/metadata

# Log folders
*/logs